*
!bin
!cuda/import/*.h* 
!cuda/tools/cudart/*.h*
!cuda/tools/cudart/nvfunctional
!cuda/tools/cnprt/*.h*
!cuda/common/*.h*
!cuda/tools/cooperative_groups/*.h*
!opencl/import/cl_rel/CL/*.h*
!cuda/tools/cudart/cudart_etbl/*.h*
!libcudacxx
libcudacxx/.git
libcudacxx/libcxx/.git
libcudacxx/.upstream-tests/.git
